.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0000000f;
  margin-left: 100px;
}

.open-btn {
  background: #2563eb;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.open-btn:hover {
  background: #1e40af;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup,
.login-box {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.popup h2,
.login-box h2 {
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  margin: 6px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-size: 14px;
}

.btn.success {
  background: #16a34a;
}

.btn.close {
  background: #6b7280;
}

.btn.login {
  background: #2563eb;
  width: 100%;
  margin-top: 10px;
}

.btn:hover {
  opacity: 0.9;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
} 
.popup h2{
  color: rgb(46, 44, 44);
}
